<body background="http://www.prana.com/life/wp-content/uploads/2016/03/10.jpg">

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1" style="background-color: #e5e5f9; margin-top: 5%; border-radius: 10px; opacity: 0.9">
        <div style="margin-top: 24px; margin-bottom: 32px">
          <h3 style="width: 100%; text-align: center">
            Login
          </h3>
        </div>
        <div class="field form-group">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, class: 'form-control' %>
        </div>

        <div class="field form-group">
          <%= f.label :password %><br />
          <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
        </div>

        <% if devise_mapping.rememberable? -%>
          <div class="field">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
        <% end %>

        <div class="actions">
          <%= f.submit "Log in", class: 'btn btn-primary' %>
        </div>
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
<% end %>
</body>